<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2ZBVR8AP3W</string>
    <key>signingStyle</key>
    <string>automatic</string>
    <key>provisioningProfiles</key>    
    <dict>
        <key>com.neovasolutions.NeoCal</key>
        <string>b21c68da-abbe-4ce1-a87a-9dc37ca25f20</string>
    </dict>
</dict>
</plist> -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2ZBVR8AP3W</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
    <key>provisioningProfiles</key>    
    <dict>
        <key>com.neovasolutions.ios-ci-cd</key>
        <string>77e71d13-b1f8-4947-9a3f-48ae5892790e</string>
    </dict>
</dict>
</plist>
