<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>app-store</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2ZBVR8AP3W</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
    <key>provisioningProfiles</key>    
    <dict>
        <key>com.neovasolutions.ios-dev-poc</key>
        <string>026c2507-20d9-4244-91b7-c38ac88c9d65</string>
    </dict> 
</dict>
</plist>


<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ApplicationProperties</key>
        <dict>
            <key>ApplicationPath</key>
            <string>Applications/ios-dev-poc.app</string>
            <key>Architectures</key>
            <array>
                <string>arm64</string>
            </array>
            <key>CFBundleIdentifier</key>
            <string>com.neovasolutions.ios-dev-poc</string>
            <key>CFBundleShortVersionString</key>
            <string>1.0</string>
            <key>CFBundleVersion</key>
            <string>1</string>
            <key>SigningIdentity</key>
            <string>Apple Development: Shashi Ranjan (UVQ9K3AXY4)</string>
            <key>Team</key>
            <string>2ZBVR8AP3W</string>
        </dict>
        <key>ArchiveVersion</key>
        <integer>2</integer>
        <key>CreationDate</key>
        <date>2023-11-03T10:33:12Z</date>
        <key>Distributions</key>
        <array>
            <dict>
                <key>certificateSHA1</key>
                <string>65CE8F095497FB8E537F78BC07C5562AA71A0101</string>
                <key>destination</key>
                <string>upload</string>
                <key>identifier</key>
                <string>e7fd6c00-7afd-4dca-8e31-36ececd77477</string>
                <key>preparationEvent</key>
                <dict>
                    <key>date</key>
                    <string>2023-11-03T10:34:29Z</string>
                    <key>errors</key>
                    <array/>
                    <key>infoMessages</key>
                    <array/>
                    <key>shortTitle</key>
                    <string>Prepared</string>
                    <key>state</key>
                    <string>success</string>
                    <key>title</key>
                    <string>Prepared archive for uploading</string>
                    <key>warnings</key>
                    <array/>
                </dict>
                <key>task</key>
                <string>distribute</string>
                <key>teamID</key>
                <string>2ZBVR8AP3W</string>
                <key>uploadDestination</key>
                <string>App Store</string>
                <key>uploadEvent</key>
                <dict>
                    <key>date</key>
                    <string>2023-11-03T10:35:01Z</string>
                    <key>errors</key>
                    <array/>
                    <key>infoMessages</key>
                    <array/>
                    <key>shortTitle</key>
                    <string>Uploaded</string>
                    <key>state</key>
                    <string>success</string>
                    <key>title</key>
                    <string>Uploaded to Apple</string>
                    <key>warnings</key>
                    <array/>
                </dict>
            </dict>
            <dict>
                <key>certificateSHA1</key>
                <string>65CE8F095497FB8E537F78BC07C5562AA71A0101</string>
                <key>destination</key>
                <string>upload</string>
                <key>identifier</key>
                <string>7fa9400d-b05b-44c9-bd9b-371f18fc2798</string>
                <key>preparationEvent</key>
                <dict>
                    <key>date</key>
                    <string>2023-11-03T10:33:21Z</string>
                    <key>errors</key>
                    <array/>
                    <key>infoMessages</key>
                    <array/>
                    <key>shortTitle</key>
                    <string>Prepared</string>
                    <key>state</key>
                    <string>success</string>
                    <key>title</key>
                    <string>Prepared archive for validation</string>
                    <key>warnings</key>
                    <array/>
                </dict>
                <key>task</key>
                <string>validate</string>
                <key>teamID</key>
                <string>2ZBVR8AP3W</string>
                <key>uploadDestination</key>
                <string>App Store</string>
                <key>validationEvent</key>
                <dict>
                    <key>date</key>
                    <string>2023-11-03T10:34:24Z</string>
                    <key>errors</key>
                    <array/>
                    <key>infoMessages</key>
                    <array/>
                    <key>shortTitle</key>
                    <string>Validated</string>
                    <key>state</key>
                    <string>success</string>
                    <key>title</key>
                    <string>Validation succeeded</string>
                    <key>warnings</key>
                    <array/>
                </dict>
            </dict>
        </array>
        <key>Name</key>
        <string>ios-dev-poc</string>
        <key>SchemeName</key>
        <string>ios-dev-poc</string>
    </dict>
</plist>