<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>method</key>
		<string>app-store</string>
		<key>signingStyle</key>
		<string>manual</string>
		<key>stripSwiftSymbols</key>
		<true/>
		<key>teamID</key>
		<string>2ZBVR8AP3W</string>
		<key>destination</key>
		<string>export</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>com.neovasolutions.NeoCal</key>
			<string>ec8ff2ba-20de-4761-89b9-999c3ffd418a</string>
		</dict>
	</dict>
</plist>
